appdirs==1.4.4
attrs==20.3.0
Brotli==1.0.9
cachelib==0.1.1
cfgv==3.0.0
click==7.1.2
colour-science==0.3.16
coverage==5.3
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-Caching==1.9.0
-e git+https://github.com/colour-science/flask-compress@3263366b1d55ca4997dc8fab1ae3e61c98c12022#egg=Flask_Compress
gunicorn==20.0.4
identify==1.5.10
imageio==2.9.0
iniconfig==1.1.1
invoke==1.4.1
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
networkx==2.5
nodeenv==1.5.0
nose==1.3.7
numpy==1.19.4
packaging==20.7
Pillow==8.0.1
pluggy==0.13.1
pre-commit==2.1.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
PyYAML==5.4
scipy==1.5.4
six==1.15.0
toml==0.10.2
virtualenv==20.2.1
Werkzeug==1.0.1
yapf==0.23.0
