aspy.yaml==1.3.0
atomicwrites==1.3.0
attrs==19.3.0
Brotli==1.0.7
cfgv==2.0.1
Click==7.0
colour-science==0.3.14
coverage==4.5.4
cycler==0.10.0
decorator==4.4.1
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-Caching==1.7.2
-e git+https://github.com/colour-science/flask-compress@efa1a1b87de3eb8af22cddddadd066ef089965ee#egg=Flask_Compress
gunicorn==19.9.0
identify==1.4.7
imageio==2.6.1
importlib-metadata==0.23
invoke==1.3.0
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==7.2.0
networkx==2.4
nodeenv==1.3.3
nose==1.3.7
numpy==1.17.3
packaging==19.2
Pillow==6.2.1
pluggy==0.13.0
pre-commit==1.20.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pytest==5.2.2
python-dateutil==2.8.0
PyYAML==5.1.2
scipy==1.3.1
six==1.12.0
toml==0.10.0
virtualenv==16.7.7
wcwidth==0.1.7
Werkzeug==0.16.0
yapf==0.23.0
zipp==0.6.0
