<!DOCTYPE html>
<html lang="en">

<head>
    <title>Colour - Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        body,
        html {
            background-color: #111111;
            height: 100%;
            width: 100%;
            font-family: Monospace;
            font-size: 1.0em;
            margin: 0px;
        }

        a,
        a:visited {
            color: #9C27B0;
        }

        .box {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .box .row.header {
            display: flex;
            flex-direction: row;
            height: 24px;
        }

        .box .row.content {
            border: 8px solid #222222;
            display: flex;
            flex-direction: row;
            height: 100%;
            overflow-x: hidden;
        }

        .box .row.footer {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            height: 24px;
        }

        #title {
            align-items: center;
            color: #9C27B0;
            display: flex;
            padding-left: 12px;
            width: 100%;
        }

        #gamutView1,
        #imageView1 {
            background-color: #222222;
        }

        #info {
            align-items: center;
            color: #9C27B0;
            display: flex;
            padding-left: 12px;
            width: 50%;
        }

        #warning {
            align-items: center;
            color: #F44336;
            display: flex;
            padding-left: 12px;
            width: 50%;
        }

        /* Splitter */

        .split {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .gutter {
            background-color: #222222;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        .split.split-horizontal,
        .gutter.gutter-horizontal {
            height: 100%;
            float: left;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="row header">
            <div id="title">
                <a href="https://www.colour-science.org" target="_blank">colour-science.org</a>&nbsp;- Colour - Analysis
            </div>
        </div>
        <div class="row content">
            <div id="gamutView1" class="split"></div>
            <div id="imageView1" class="split"></div>
        </div>
        <div class="row footer">
            <div id="info"></div>
            <div id="warning"></div>
        </div>
    </div>

    <script src="https://cdn.rawgit.com/nathancahill/Split.js/master/split.min.js"></script>
    <script>
        Split(['#gamutView1', '#imageView1'], {
            elementStyle: function (dimension, size, gutterSize) {
                return { 'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)' }
            },
            gutterStyle: function (dimension, gutterSize) {
                return { 'flex-basis': gutterSize + 'px' }
            }
        });
    </script>

    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/TrackballControls.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/Detector.js"></script>
    <script src="https://cdn.rawgit.com/dataarts/dat.gui/master/build/dat.gui.min.js"></script>
    <script src="{{ colour_analysis_js }}"></script>
    <script type="text/javascript">
        if (!Detector.webgl) Detector.addGetWebGLinfo();

        var image = '{{ image }}';
        var primaryColourspace = '{{ primary_colourspace }}';
        var secondaryColourspace = '{{ secondary_colourspace }}';
        var imageColourspace = '{{ image_colourspace }}';

        var gamutView1 = new ColourAnalysis.GamutView(
            document.getElementById('gamutView1'),
            {
                image: image,
                primaryColourspace: primaryColourspace,
                secondaryColourspace: secondaryColourspace,
                imageColourspace: imageColourspace
            }
        );
        gamutView1.addViewAxesVisual();
        gamutView1.addSpectralLocusVisual();
        gamutView1.addSecondaryColourspaceVisual();
        gamutView1.addPrimaryColourspaceVisual();
        gamutView1.addImageScatterVisual();
        gamutView1.addImageScatterOverlayVisual();
        gamutView1.animate();

        var imageView1 = new ColourAnalysis.ImageView(
            document.getElementById('imageView1'),
            {
                image: image,
                primaryColourspace: primaryColourspace,
                secondaryColourspace: secondaryColourspace,
                imageColourspace: imageColourspace
            }
        );
        imageView1.addImageVisual();
        imageView1.addImageOverlayVisual();
        imageView1.animate();

        class Controls {
            constructor() {
                this.image = [];
                this.colourspaceModel = [];

                this.primaryColourspace = gamutView1.primaryColourspace;
                this.primaryColourspaceVisualWireframe = false;
                this.primaryColourspaceVisualVisible = true;
                this.primaryColourspaceVisualOpacity = 0.75;

                this.secondaryColourspace = gamutView1.secondaryColourspace;
                this.secondaryColourspaceVisualWireframe = true;
                this.secondaryColourspaceVisualVisible = true;
                this.secondaryColourspaceVisualOpacity = 0.25;

                this.imageColourspace = 'Primary';
                this.imageScatterVisualVisible = true;
                this.imageScatterVisualOpacity = 0.75;
                this.imageScatterVisualSize = 0.01;
                this.outOfPrimaryColourspaceGamut = false;
                this.outOfSecondaryColourspaceGamut = false;
                this.imageScatterVisualSaturate = false;

                this.spectralLocusVisualVisible = true;
            }
        }

        var controls = new Controls();

        var gui = new dat.GUI({ width: 360 });

        /*** Overall ***/
        var overallFolder = gui.addFolder('Overall');

        // Image
        var imageController = overallFolder.add(controls, 'image', []).name('Image');
        var updateImageDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'image',
            imageController,
            image
        );
        var loader = new THREE.FileLoader();
        loader.setResponseType('json');

        loader.load(ColourAnalysis.serverRoute('/images'), updateImageDropdown);
        imageController.onChange(function (value) {
            if (gamutView1.isLoading() || imageView1.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.image = gamutView1.image;

                var keys = ColourAnalysis.dropdownOptions(imageController);
                imageController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.image
                );
                return;
            }

            gamutView1.image = value;
            imageView1.image = value;
        });

        // Model
        var colourspaceModelController = overallFolder
            .add(controls, 'colourspaceModel', [])
            .name('Model');
        var updateColourspaceModelDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'colourspaceModel',
            colourspaceModelController,
            gamutView1.colourspaceModel
        );
        var loader = new THREE.FileLoader();
        loader.setResponseType('json');

        loader.load(
            ColourAnalysis.serverRoute('/colourspace-models'),
            updateColourspaceModelDropdown
        );
        colourspaceModelController.onChange(function (value) {
            if (gamutView1.isLoading() || imageView1.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.colourspaceModel = gamutView1.colourspaceModel;

                var keys = ColourAnalysis.dropdownOptions(colourspaceModelController);
                colourspaceModelController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.colourspaceModel
                );
                return;
            }

            gamutView1.colourspaceModel = value;
            imageView1.colourspaceModel = value;
        });

        // Colourspace
        var imageColourspaceController = overallFolder
            .add(controls, 'imageColourspace', ['Primary', 'Secondary'])
            .name('Colourspace')
            .onChange(function (value) {
                if (gamutView1.isLoading() || imageView1.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.imageColourspace = gamutView1.imageColourspace;

                    var keys = ColourAnalysis.dropdownOptions(
                        imageColourspaceController
                    );
                    imageColourspaceController.domElement.children[0].selectedIndex = keys.indexOf(
                        controls.imageColourspace
                    );
                    return;
                }

                gamutView1.imageColourspace = value;
                imageView1.imageColourspace = value;
            });

        // Out of Primary Colourspace Gamut
        var outOfPrimaryColourspaceGamutController = overallFolder
            .add(controls, 'outOfPrimaryColourspaceGamut')
            .name('Out of Primary Colourspace Gamut')
            .onChange(function (value) {
                if (gamutView1.isLoading() || imageView1.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.outOfPrimaryColourspaceGamut =
                        gamutView1.imageScatterOverlayVisual.outOfPrimaryColourspaceGamut;
                    outOfPrimaryColourspaceGamutController.updateDisplay();
                    return;
                }

                gamutView1.imageScatterOverlayVisual.outOfPrimaryColourspaceGamut = value;
                imageView1.imageOverlayVisual.outOfPrimaryColourspaceGamut = value;
            });

        // Out of Secondary Colourspace Gamut
        var outOfSecondaryColourspaceGamutController = overallFolder
            .add(controls, 'outOfSecondaryColourspaceGamut')
            .name('Out of Secondary Colourspace Gamut')
            .onChange(function (value) {
                if (gamutView1.isLoading() || imageView1.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.outOfSecondaryColourspaceGamut =
                        gamutView1.imageScatterOverlayVisual.outOfSecondaryColourspaceGamut;
                    outOfSecondaryColourspaceGamutController.updateDisplay();
                    return;
                }

                gamutView1.imageScatterOverlayVisual.outOfSecondaryColourspaceGamut = value;
                imageView1.imageOverlayVisual.outOfSecondaryColourspaceGamut = value;
            });
        // imageScatterFolder
        //     .add(controls, 'imageScatterVisualSaturate')
        //     .name('Clamp')
        //     .onChange(function (value) {
        //         gamutView1.imageScatterVisual.saturate = value;
        //     });

        /*** Primary Colourspace ***/
        var primaryColourspaceFolder = gui.addFolder('Primary Colourspace');
        var primaryColourspaceController = primaryColourspaceFolder
            .add(controls, 'primaryColourspace', [])
            .name('Gamut');
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualWireframe')
            .name('Wireframe')
            .onChange(function (value) {
                gamutView1.primaryColourspaceVisual.wireframe = value;
            });
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.primaryColourspaceVisual.visible = value;
            });
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView1.primaryColourspaceVisual.uniformOpacity = value;
            });
        var updatePrimaryColourspaceDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'primaryColourspace',
            primaryColourspaceController,
            gamutView1.primaryColourspace
        );
        loader.load(
            ColourAnalysis.serverRoute('/RGB-colourspaces'),
            updatePrimaryColourspaceDropdown
        );
        primaryColourspaceController.onChange(function (value) {
            if (gamutView1.isLoading() || imageView1.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.primaryColourspace = gamutView1.primaryColourspace;

                var keys = ColourAnalysis.dropdownOptions(primaryColourspaceController);
                primaryColourspaceController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.primaryColourspace
                );
                return;
            }

            gamutView1.primaryColourspace = value;
            imageView1.primaryColourspace = value;
        });

        /*** Secondary Colourspace ***/
        var secondaryColourspaceFolder = gui.addFolder('Secondary Colourspace');
        var secondaryColourspaceController = secondaryColourspaceFolder
            .add(controls, 'secondaryColourspace', [])
            .name('Gamut');
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualWireframe')
            .name('Wireframe')
            .onChange(function (value) {
                gamutView1.secondaryColourspaceVisual.wireframe = value;
            });
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.secondaryColourspaceVisual.visible = value;
            });
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView1.secondaryColourspaceVisual.uniformOpacity = value;
            });
        var updateSecondaryColourspaceDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'secondaryColourspace',
            secondaryColourspaceController,
            gamutView1.secondaryColourspace
        );
        loader.load(
            ColourAnalysis.serverRoute('/RGB-colourspaces'),
            updateSecondaryColourspaceDropdown
        );
        secondaryColourspaceController.onChange(function (value) {
            if (gamutView1.isLoading() || imageView1.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.secondaryColourspace = gamutView1.secondaryColourspace;

                var keys = ColourAnalysis.dropdownOptions(
                    secondaryColourspaceController
                );
                secondaryColourspaceController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.secondaryColourspace
                );
                return;
            }

            gamutView1.secondaryColourspace = value;
            imageView1.secondaryColourspace = value;
        });

        /*** Image Scatter ***/
        var imageScatterFolder = gui.addFolder('Image Scatter');
        imageScatterFolder
            .add(controls, 'imageScatterVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.imageScatterVisual.visible = value;
                gamutView1.imageScatterOverlayVisual.visible = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView1.imageScatterVisual.uniformOpacity = value;
                gamutView1.imageScatterOverlayVisual.uniformOpacity = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualSize', 0.005, 0.1)
            .name('Point Size')
            .onChange(function (value) {
                gamutView1.imageScatterVisual.pointSize = value;
                gamutView1.imageScatterOverlayVisual.pointSize = value;
            });

        /*** Spectral Locus ***/
        var spectralLocusFolder = gui.addFolder('Spectral Locus');
        spectralLocusFolder
            .add(controls, 'spectralLocusVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.spectralLocusVisual.visible = value;
            });
    </script>

</body>

</html>