<!DOCTYPE html>
<html lang="en">

<head>
    <title>Colour - Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        body,
        html {
            background-color: #111111;
            height: 100%;
            width: 100%;
            font-family: Monospace;
            font-size: 1.0em;
            margin: 0px;
        }

        .box {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .box .row.header {
            display: flex;
            flex-direction: row;
        }

        .box .row.content {
            border: 8px solid #222222;
            display: flex;
            flex-direction: row;
            height: 100%;
        }

        .box .row.footer {
            display: flex;
            flex-direction: row;
        }

        #title {
            color: #9C27B0;
            flex: 1;
            padding: 4px;
        }

        #gamutView1,
        #imageView1 {
            background-color: #222222;
        }

        #info {
            color: #9C27B0;
            flex: 1;
            padding: 4px;
        }

        #warning {
            color: #F44336;
            flex: 1;
            padding: 4px;
        }

        /* Splitter */

        .split {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .gutter {
            background-color: #222222;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        .split.split-horizontal,
        .gutter.gutter-horizontal {
            height: 100%;
            float: left;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="row header">
            <div id="title">
                <a href="https://www.colour-science.org" target="_blank">colour-science.org</a> - Colour - Analysis
            </div>
        </div>
        <div class="row content">
            <div id="gamutView1" class="split"></div>
            <div id="imageView1" class="split"></div>
        </div>
        <div class="row footer">
            <div id="info"></div>
            <div id="warning"></div>
        </div>
    </div>

    <script src="https://cdn.rawgit.com/nathancahill/Split.js/master/split.min.js"></script>
    <script>
        Split(['#gamutView1', '#imageView1'], {
            elementStyle: function (dimension, size, gutterSize) {
                return { 'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)' }
            },
            gutterStyle: function (dimension, gutterSize) {
                return { 'flex-basis': gutterSize + 'px' }
            }
        });
    </script>

    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/TrackballControls.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/Detector.js"></script>
    <script src="https://cdn.rawgit.com/dataarts/dat.gui/master/build/dat.gui.min.js"></script>
    <script type="module">

        import { GamutView } from "{{ url_for('static', filename = 'js/views/gamutView.js') }}";
        import { ImageView } from "{{ url_for('static', filename = 'js/views/imageView.js') }}";
        import { updateDropdown } from "{{ url_for('static', filename = 'js/gui.js') }}";
        import { info, warning } from "{{ url_for('static', filename = 'js/common.js') }}";

        if (!Detector.webgl) Detector.addGetWebGLinfo();

        var image = 'Rose.ProPhoto.jpg';

        var gamutView1 = new GamutView(document.getElementById('gamutView1'));
        gamutView1.primaryColourspace = 'sRGB';
        gamutView1.secondaryColourspace = 'DCI-P3';
        gamutView1.imageColourspace = 'Primary';
        gamutView1.addViewAxesVisual();
        gamutView1.addSpectralLocusVisual();
        gamutView1.addSecondaryColourspaceVisual();
        gamutView1.addPrimaryColourspaceVisual();
        gamutView1.addImageScatterVisual({ image: image });
        gamutView1.addImageScatterOverlayVisual({ image: image });
        gamutView1.animate();

        var imageView1 = new ImageView(document.getElementById('imageView1'), {});
        imageView1.addImageVisual({ image: image });
        imageView1.addImageOverlayVisual({ image: image });
        imageView1.animate();

        class Controls {
            constructor() {
                this.colourspaceModel = [];

                this.primaryColourspace = gamutView1.primaryColourspace;
                this.primaryColourspaceVisualWireframe = false;
                this.primaryColourspaceVisualVisible = true;
                this.primaryColourspaceVisualOpacity = 0.75;

                this.secondaryColourspace = gamutView1.secondaryColourspace;
                this.secondaryColourspaceVisualWireframe = true;
                this.secondaryColourspaceVisualVisible = true;
                this.secondaryColourspaceVisualOpacity = 0.75;

                this.imageColourspace = 'Primary';
                this.imageScatterVisualVisible = true;
                this.imageScatterVisualOpacity = 0.75;
                this.imageScatterVisualSize = 0.01;
                this.outOfPrimaryColourspaceGamut = false;
                this.outOfSecondaryColourspaceGamut = false;
                this.imageScatterVisualSaturate = false;

                this.spectralLocusVisualVisible = true;
            }
        }

        var controls = new Controls();
        var gui = new dat.GUI({ width: 320 });
        var colourspaceModelController = gui
            .add(controls, 'colourspaceModel', [])
            .name('Model');
        var updateColourspaceModelDropdown = updateDropdown.bind(
            null,
            controls,
            'colourspaceModel',
            colourspaceModelController,
            gamutView1.colourspaceModel
        );
        var loader = new THREE.FileLoader();
        loader.setResponseType('json');

        loader.load('/colourspace-models', updateColourspaceModelDropdown);
        colourspaceModelController.onChange(function (value) {
            gamutView1.colourspaceModel = value;
        });

        // Primary Colourspace
        var primaryColourspaceFolder = gui.addFolder('Primary Colourspace');
        var primaryColourspaceController = primaryColourspaceFolder
            .add(controls, 'primaryColourspace', [])
            .name('Gamut');
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualWireframe')
            .name('Wireframe')
            .onChange(function (value) {
                gamutView1.primaryColourspaceVisual.wireframe = value;
            });
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.primaryColourspaceVisual.visible = value;
            });
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView1.primaryColourspaceVisual.uniformOpacity = value;
            });
        var updatePrimaryColourspaceDropdown = updateDropdown.bind(
            null,
            controls,
            'primaryColourspace',
            primaryColourspaceController,
            gamutView1.primaryColourspace
        );
        loader.load('/RGB-colourspaces', updatePrimaryColourspaceDropdown);
        primaryColourspaceController.onChange(function (value) {
            if (gamutView1.isLoading() || imageView1.isLoading()) {
                warning('A visual is already loading!');
                controls.primaryColourspace = gamutView1.primaryColourspace;
                primaryColourspaceController.updateDisplay();
                return;
            }

            gamutView1.primaryColourspace = value;
            imageView1.primaryColourspace = value;
        });

        // Secondary Colourspace
        var secondaryColourspaceFolder = gui.addFolder('Secondary Colourspace');
        var secondaryColourspaceController = secondaryColourspaceFolder
            .add(controls, 'secondaryColourspace', [])
            .name('Gamut');
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualWireframe')
            .name('Wireframe')
            .onChange(function (value) {
                gamutView1.secondaryColourspaceVisual.wireframe = value;
            });
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.secondaryColourspaceVisual.visible = value;
            });
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView1.secondaryColourspaceVisual.uniformOpacity = value;
            });
        var updateSecondaryColourspaceDropdown = updateDropdown.bind(
            null,
            controls,
            'secondaryColourspace',
            secondaryColourspaceController,
            gamutView1.secondaryColourspace
        );
        loader.load('/RGB-colourspaces', updateSecondaryColourspaceDropdown);
        secondaryColourspaceController.onChange(function (value) {
            if (gamutView1.isLoading() || imageView1.isLoading()) {
                warning('A visual is already loading!');
                controls.secondaryColourspace = gamutView1.secondaryColourspace;
                secondaryColourspaceController.updateDisplay();
                return;
            }

            gamutView1.secondaryColourspace = value;
            imageView1.secondaryColourspace = value;
        });

        // Image & Scatter
        var imageScatterFolder = gui.addFolder('Image & Scatter');
        var imageColourspaceController = imageScatterFolder
            .add(controls, 'imageColourspace', ['Primary', 'Secondary'])
            .name('Gamut')
            .onChange(function (value) {
                if (gamutView1.isLoading() || imageView1.isLoading()) {
                    warning('A visual is already loading!');
                    controls.imageColourspace = gamutView1.imageColourspace;
                    secondaryColourspaceController.updateDisplay();
                    return;
                }


                gamutView1.imageColourspace = value;
                imageView1.imageColourspace = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.imageScatterVisual.visible = value;
                gamutView1.imageScatterOverlayVisual.visible = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView1.imageScatterVisual.uniformOpacity = value;
                gamutView1.imageScatterOverlayVisual.uniformOpacity = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualSize', 0.005, 0.1)
            .name('Point Size')
            .onChange(function (value) {
                gamutView1.imageScatterVisual.pointSize = value;
                gamutView1.imageScatterOverlayVisual.pointSize = value;
            });
        var outOfPrimaryColourspaceGamutController = imageScatterFolder
            .add(controls, 'outOfPrimaryColourspaceGamut')
            .name('Out of Primary Colourspace Gamut')
            .onChange(function (value) {
                if (gamutView1.isLoading() || imageView1.isLoading()) {
                    warning('A visual is already loading!');
                    controls.outOfPrimaryColourspaceGamut = gamutView1.imageScatterOverlayVisual.outOfPrimaryColourspaceGamut;
                    outOfPrimaryColourspaceGamutController.updateDisplay();
                    return;
                }


                gamutView1.imageScatterOverlayVisual.outOfPrimaryColourspaceGamut = value;
                imageView1.imageOverlayVisual.outOfPrimaryColourspaceGamut = value;
            });
        var outOfSecondaryColourspaceGamutController = imageScatterFolder
            .add(controls, 'outOfSecondaryColourspaceGamut')
            .name('Out of Secondary Colourspace Gamut')
            .onChange(function (value) {
                if (gamutView1.isLoading() || imageView1.isLoading()) {
                    warning('A visual is already loading!');
                    controls.outOfSecondaryColourspaceGamut = gamutView1.imageScatterOverlayVisual.outOfSecondaryColourspaceGamut;
                    outOfSecondaryColourspaceGamutController.updateDisplay();
                    return;
                }


                gamutView1.imageScatterOverlayVisual.outOfSecondaryColourspaceGamut = value;
                imageView1.imageOverlayVisual.outOfSecondaryColourspaceGamut = value;
            });
        // imageScatterFolder
        //     .add(controls, 'imageScatterVisualSaturate')
        //     .name('Clamp')
        //     .onChange(function (value) {
        //         gamutView1.imageScatterVisual.saturate = value;
        //     });

        // Spectral Locus
        var spectralLocusFolder = gui.addFolder('Spectral Locus');
        spectralLocusFolder
            .add(controls, 'spectralLocusVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView1.spectralLocusVisual.visible = value;
            });
    </script>

</body>

</html>