<!DOCTYPE html>
<html lang="en">

<head>
    <title>Colour - Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        body,
        html {
            background-color: #111111;
            height: 100%;
            width: 100%;
            font-family: Monospace;
            font-size: 1.0em;
            margin: 0;
            padding: 0;
        }

        a,
        a:visited {
            color: #9C27B0;
        }

        .box {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .box .row.header {
            display: flex;
            flex-direction: row;
            height: 24px;
        }

        .box .row.content {
            border: 8px solid #222222;
            display: flex;
            flex-direction: row;
            height: 100%;
            overflow-x: hidden;
        }

        .box .row.footer {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            height: 24px;
        }

        #title {
            align-items: center;
            color: #9C27B0;
            display: flex;
            padding-left: 12px;
            width: 100%;
        }

        #gamutView,
        #imageView {
            background-color: #222222;
        }

        #info {
            align-items: center;
            color: #9C27B0;
            display: flex;
            padding-left: 12px;
            width: 50%;
        }

        #warning {
            align-items: center;
            color: #F44336;
            display: flex;
            padding-left: 12px;
            width: 50%;
        }

        /* Splitter */

        .split {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .gutter {
            background-color: #222222;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        .split.split-horizontal,
        .gutter.gutter-horizontal {
            height: 100%;
            float: left;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="row header">
            <div id="title">
                <a href="https://www.colour-science.org" target="_blank">colour-science.org</a>&nbsp;- Colour - Analysis
            </div>
        </div>
        <div class="row content">
            <div id="gamutView" class="split"></div>
            <div id="imageView" class="split"></div>
        </div>
        <div class="row footer">
            <div id="info"></div>
            <div id="warning"></div>
        </div>
    </div>

    <script src="https://cdn.rawgit.com/nathancahill/Split.js/master/split.min.js"></script>
    <script>
        Split(['#gamutView', '#imageView'], {
            elementStyle: function (dimension, size, gutterSize) {
                return { 'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)' }
            },
            gutterStyle: function (dimension, gutterSize) {
                return { 'flex-basis': gutterSize + 'px' }
            }
        });
    </script>

    <script src="https://cdn.rawgit.com/mrdoob/three.js/r95/build/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/r95/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/r95/examples/js/controls/TrackballControls.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/r95/examples/js/Detector.js"></script>
    <script src="https://cdn.rawgit.com/dataarts/dat.gui/v0.6.5/build/dat.gui.min.js"></script>
    <script src="{{ colour_analysis_js }}"></script>
    <script type="text/javascript">
        if (!Detector.webgl) Detector.addGetWebGLinfo();

        var image = '{{ image }}';
        var primaryColourspace = '{{ primary_colourspace }}';
        var secondaryColourspace = '{{ secondary_colourspace }}';
        var imageColourspace = '{{ image_colourspace }}';
        var imageDecodingCctf = '{{ image_decoding_cctf }}';
        var colourspaceModel = '{{ colourspace_model }}';

        var gamutView = new ColourAnalysis.GamutView(
            document.getElementById('gamutView'),
            {
                image: image,
                primaryColourspace: primaryColourspace,
                secondaryColourspace: secondaryColourspace,
                imageColourspace: imageColourspace,
                imageDecodingCctf: imageDecodingCctf,
                colourspaceModel: colourspaceModel,
            }
        );

        gamutView.addViewAxesVisual();
        gamutView.addVisibleSpectrumVisual();
        gamutView.addSpectralLocusVisual();
        gamutView.addPointerGamutVisual();
        gamutView.addSecondaryColourspaceVisual();
        gamutView.addPrimaryColourspaceVisual();
        gamutView.addImageScatterVisual();
        gamutView.addImageScatterOverlayVisual();

        gamutView.animate();

        var imageView = new ColourAnalysis.ImageView(
            document.getElementById('imageView'),
            {
                image: image,
                primaryColourspace: primaryColourspace,
                secondaryColourspace: secondaryColourspace,
                imageColourspace: imageColourspace,
                imageDecodingCctf: imageDecodingCctf,
                colourspaceModel: colourspaceModel,
            }
        );

        imageView.addImageVisual();
        imageView.addImageOverlayVisual();

        imageView.animate();

        class Controls {
            constructor() {

                this.colourspaceModel = colourspaceModel;

                this.image = image;
                this.imageColourspace = imageColourspace;
                this.imageDecodingCctf = imageDecodingCctf;
                this.outOfPrimaryColourspaceGamut = false;
                this.outOfSecondaryColourspaceGamut = false;
                this.outOfPointerGamut = false;

                this.primaryColourspace = primaryColourspace;
                this.primaryColourspaceVisualWireframe = false;
                this.primaryColourspaceVisualVisible = true;
                this.primaryColourspaceVisualOpacity = 0.75;

                this.secondaryColourspace = secondaryColourspace;
                this.secondaryColourspaceVisualWireframe = true;
                this.secondaryColourspaceVisualVisible = true;
                this.secondaryColourspaceVisualOpacity = 0.25;

                this.imageScatterVisualVisible = true;
                this.imageScatterVisualOpacity = 0.75;
                this.imageScatterVisualSize = 0.01;
                this.imageScatterVisualSaturate = false;

                this.visibleSpectrumVisualVisible = true;
                this.visibleSpectrumVisualColour = '#FFA726';

                this.spectralLocusVisualVisible = true;

                this.pointerGamutVisualVisible = true;
                this.pointerGamutVisualColour = '#4FC3F7';

                this.captureGamutView = function () {
                    var capture = gamutView.capture();
                    ColourAnalysis.saveFile(
                        capture.replace(
                            'image/png', 'image/octet-stream'
                        ),
                        'Colour-Analysis-GamutView.png'
                    );
                };

                this.captureImageView = function () {
                    var capture = imageView.capture();
                    ColourAnalysis.saveFile(
                        capture.replace(
                            'image/png', 'image/octet-stream'
                        ),
                        'Colour-Analysis-ImageView.png'
                    );
                };
            }
        }

        var controls = new Controls();

        var gui = new dat.GUI({ width: 360 });

        /*** Overall ***/
        var overallFolder = gui.addFolder('Overall');

        // Model
        var colourspaceModelController = overallFolder
            .add(controls, 'colourspaceModel', [])
            .name('Model');
        var updateColourspaceModelDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'colourspaceModel',
            colourspaceModelController,
            gamutView.colourspaceModel
        );
        var loader = new THREE.FileLoader();
        loader.setResponseType('json');

        loader.load(
            ColourAnalysis.serverRoute('/colourspace-models'),
            updateColourspaceModelDropdown
        );
        colourspaceModelController.onChange(function (value) {
            if (gamutView.isLoading() || imageView.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.colourspaceModel = gamutView.colourspaceModel;

                var keys = ColourAnalysis.dropdownOptions(colourspaceModelController);
                colourspaceModelController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.colourspaceModel
                );
                return;
            }

            gamutView.colourspaceModel = value;
            imageView.colourspaceModel = value;
        });

        // Image
        var imageController = overallFolder.add(controls, 'image', []).name('Image');
        var updateImageDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'image',
            imageController,
            image
        );
        var loader = new THREE.FileLoader();
        loader.setResponseType('json');

        loader.load(ColourAnalysis.serverRoute('/images'), updateImageDropdown);

        // Image Colourspace
        var imageColourspaceController = overallFolder
            .add(controls, 'imageColourspace', ['Primary', 'Secondary'])
            .name('Colourspace')
            .onChange(function (value) {
                if (gamutView.isLoading() || imageView.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.imageColourspace = gamutView.imageColourspace;

                    var keys = ColourAnalysis.dropdownOptions(
                        imageColourspaceController
                    );
                    imageColourspaceController.domElement.children[0].selectedIndex = keys.indexOf(
                        controls.imageColourspace
                    );
                    return;
                }

                gamutView.imageColourspace = value;
                imageView.imageColourspace = value;
            });

        // Image Decoding CCTF
        var imageDecodingCctfController = overallFolder
            .add(controls, 'imageDecodingCctf', [])
            .name('Decoding CCTF');
        var updateImageDecodingCctfDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'imageDecodingCctf',
            imageDecodingCctfController,
            imageDecodingCctf
        );
        var loader = new THREE.FileLoader();
        loader.setResponseType('json');

        loader.load(
            ColourAnalysis.serverRoute('/decoding-cctfs'),
            updateImageDecodingCctfDropdown
        );
        imageDecodingCctfController.onChange(function (value) {
            // if (ColourAnalysis.isLinearFileFormat(controls.image)) {
            //     ColourAnalysis.warning(
            //         `"${controls.image}" is linear and ` +
            //         `does not need to be decoded!`);
            //     controls.imageDecodingCctf = gamutView.imageDecodingCctf;

            //     var keys = ColourAnalysis.dropdownOptions(imageDecodingCctfController);
            //     imageDecodingCctfController.domElement.children[0].selectedIndex = keys.indexOf(
            //         controls.imageDecodingCctf
            //     );
            //     return;
            // }

            if (gamutView.isLoading() || imageView.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.imageDecodingCctf = gamutView.imageDecodingCctf;

                var keys = ColourAnalysis.dropdownOptions(imageDecodingCctfController);
                imageDecodingCctfController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.imageDecodingCctf
                );
                return;
            }

            gamutView.imageDecodingCctf = value;
            imageView.imageDecodingCctf = value;
        });

        // Hiding the "imageDecodingCctfController" parent of parent container
        // div accordingly to image file format.
        var imageDecodingCctfDiv = imageDecodingCctfController.domElement.parentNode.parentNode;
        if (ColourAnalysis.isLinearFileFormat(controls.image)) {
            imageDecodingCctfDiv.style.display = 'none';
        } else {
            imageDecodingCctfDiv.style.display = '';
        }
        // "imageController" "onChange" logic is defined here because
        // of cascading effects with "imageDecodingCctfController".
        imageController.onChange(function (value) {
            if (gamutView.isLoading() || imageView.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.image = gamutView.image;

                var keys = ColourAnalysis.dropdownOptions(imageController);
                imageController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.image
                );
                return;
            }

            if (ColourAnalysis.isLinearFileFormat(controls.image)) {
                imageDecodingCctfDiv.style.display = 'none';
            } else {
                imageDecodingCctfDiv.style.display = '';
            }

            gamutView.image = value;
            imageView.image = value;
        });

        // Out of Primary Colourspace Gamut
        var outOfPrimaryColourspaceGamutController = overallFolder
            .add(controls, 'outOfPrimaryColourspaceGamut')
            .name('Out of Primary Colourspace Gamut')
            .onChange(function (value) {
                if (gamutView.isLoading() || imageView.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.outOfPrimaryColourspaceGamut =
                        gamutView.imageScatterOverlayVisual.outOfPrimaryColourspaceGamut;
                    outOfPrimaryColourspaceGamutController.updateDisplay();
                    return;
                }

                gamutView.imageScatterOverlayVisual.outOfPrimaryColourspaceGamut = value;
                imageView.imageOverlayVisual.outOfPrimaryColourspaceGamut = value;
            });

        // Out of Secondary Colourspace Gamut
        var outOfSecondaryColourspaceGamutController = overallFolder
            .add(controls, 'outOfSecondaryColourspaceGamut')
            .name('Out of Secondary Colourspace Gamut')
            .onChange(function (value) {
                if (gamutView.isLoading() || imageView.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.outOfSecondaryColourspaceGamut =
                        gamutView.imageScatterOverlayVisual.outOfSecondaryColourspaceGamut;
                    outOfSecondaryColourspaceGamutController.updateDisplay();
                    return;
                }

                gamutView.imageScatterOverlayVisual.outOfSecondaryColourspaceGamut = value;
                imageView.imageOverlayVisual.outOfSecondaryColourspaceGamut = value;
            });

        // Out of Pointer's Gamut
        var outOfPointerGamutController = overallFolder
            .add(controls, 'outOfPointerGamut')
            .name('Out of Pointer\'s Gamut')
            .onChange(function (value) {
                if (gamutView.isLoading() || imageView.isLoading()) {
                    ColourAnalysis.warning('A visual is already loading!');
                    controls.outOfPointerGamut =
                        gamutView.imageScatterOverlayVisual.outOfPointerGamut;
                    outOfPointerGamutController.updateDisplay();
                    return;
                }

                gamutView.imageScatterOverlayVisual.outOfPointerGamut = value;
                imageView.imageOverlayVisual.outOfPointerGamut = value;
            });

        // imageScatterFolder
        //     .add(controls, 'imageScatterVisualSaturate')
        //     .name('Clamp')
        //     .onChange(function (value) {
        //         gamutView.imageScatterVisual.saturate = value;
        //     });

        /*** Primary Colourspace ***/
        var primaryColourspaceFolder = gui.addFolder('Primary Colourspace');
        var primaryColourspaceController = primaryColourspaceFolder
            .add(controls, 'primaryColourspace', [])
            .name('Gamut');
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualWireframe')
            .name('Wireframe')
            .onChange(function (value) {
                gamutView.primaryColourspaceVisual.wireframe = value;
            });
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView.primaryColourspaceVisual.visible = value;
            });
        primaryColourspaceFolder
            .add(controls, 'primaryColourspaceVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView.primaryColourspaceVisual.uniformOpacity = value;
            });
        var updatePrimaryColourspaceDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'primaryColourspace',
            primaryColourspaceController,
            gamutView.primaryColourspace
        );
        loader.load(
            ColourAnalysis.serverRoute('/RGB-colourspaces'),
            updatePrimaryColourspaceDropdown
        );
        primaryColourspaceController.onChange(function (value) {
            if (gamutView.isLoading() || imageView.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.primaryColourspace = gamutView.primaryColourspace;

                var keys = ColourAnalysis.dropdownOptions(primaryColourspaceController);
                primaryColourspaceController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.primaryColourspace
                );
                return;
            }

            gamutView.primaryColourspace = value;
            imageView.primaryColourspace = value;
        });

        /*** Secondary Colourspace ***/
        var secondaryColourspaceFolder = gui.addFolder('Secondary Colourspace');
        var secondaryColourspaceController = secondaryColourspaceFolder
            .add(controls, 'secondaryColourspace', [])
            .name('Gamut');
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualWireframe')
            .name('Wireframe')
            .onChange(function (value) {
                gamutView.secondaryColourspaceVisual.wireframe = value;
            });
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView.secondaryColourspaceVisual.visible = value;
            });
        secondaryColourspaceFolder
            .add(controls, 'secondaryColourspaceVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView.secondaryColourspaceVisual.uniformOpacity = value;
            });
        var updateSecondaryColourspaceDropdown = ColourAnalysis.updateDropdown.bind(
            null,
            controls,
            'secondaryColourspace',
            secondaryColourspaceController,
            gamutView.secondaryColourspace
        );
        loader.load(
            ColourAnalysis.serverRoute('/RGB-colourspaces'),
            updateSecondaryColourspaceDropdown
        );
        secondaryColourspaceController.onChange(function (value) {
            if (gamutView.isLoading() || imageView.isLoading()) {
                ColourAnalysis.warning('A visual is already loading!');
                controls.secondaryColourspace = gamutView.secondaryColourspace;

                var keys = ColourAnalysis.dropdownOptions(
                    secondaryColourspaceController
                );
                secondaryColourspaceController.domElement.children[0].selectedIndex = keys.indexOf(
                    controls.secondaryColourspace
                );
                return;
            }

            gamutView.secondaryColourspace = value;
            imageView.secondaryColourspace = value;
        });

        /*** Image Scatter ***/
        var imageScatterFolder = gui.addFolder('Image Scatter');
        imageScatterFolder
            .add(controls, 'imageScatterVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView.imageScatterVisual.visible = value;
                gamutView.imageScatterOverlayVisual.visible = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualOpacity', 0, 1)
            .name('Opacity')
            .onChange(function (value) {
                gamutView.imageScatterVisual.uniformOpacity = value;
                gamutView.imageScatterOverlayVisual.uniformOpacity = value;
            });
        imageScatterFolder
            .add(controls, 'imageScatterVisualSize', 0.005, 0.1)
            .name('Point Size')
            .onChange(function (value) {
                gamutView.imageScatterVisual.pointSize = value;
                gamutView.imageScatterOverlayVisual.pointSize = value;
            });

        /*** Visible Spectrum ***/
        var visibleSpectrumFolder = gui.addFolder('Visible Spectrum');
        visibleSpectrumFolder
            .add(controls, 'visibleSpectrumVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView.visibleSpectrumVisual.visible = value;
            });
        visibleSpectrumFolder
            .addColor(controls, 'visibleSpectrumVisualColour')
            .name('Colour')
            .onChange(function (value) {
                gamutView.visibleSpectrumVisual.uniformColour = value;
            });

        /*** Spectral Locus ***/
        var spectralLocusFolder = gui.addFolder('Spectral Locus');
        spectralLocusFolder
            .add(controls, 'spectralLocusVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView.spectralLocusVisual.visible = value;
            });

        /*** Pointer's Gamut ***/
        var pointerGamutFolder = gui.addFolder('Pointer\'s Gamut');
        pointerGamutFolder
            .add(controls, 'pointerGamutVisualVisible')
            .name('Visible')
            .onChange(function (value) {
                gamutView.pointerGamutVisual.visible = value;
            });
        pointerGamutFolder
            .addColor(controls, 'pointerGamutVisualColour')
            .name('Colour')
            .onChange(function (value) {
                gamutView.pointerGamutVisual.uniformColour = value;
            });

        /*** Miscellaneous ***/
        var miscellaneous = gui.addFolder('Miscellaneous');
        miscellaneous
            .add(controls, 'captureGamutView')
            .name('Capture Gamut View');
        miscellaneous
            .add(controls, 'captureImageView')
            .name('Capture Image View');
    </script>

</body>

</html>